header{
  height: 50px;
  
}

hr{
  border: 1px solid #CCCCCC;

}

.text-center h1{
font-family: Roboto Condensed;
font-size: 36px;
text-transform: uppercase;
color: #000000;
}

.text-center p{
  font-family: Roboto Condensed;
  font-size: 14px;
  text-transform: uppercase;
  color: #CCCCCC;
  }